algorithmic-trading/
.ipynb_checkpoints/
sp_500_stocks.csv
**/secrets.py
.DS_Store
__pycache__
**/recommended_trades.xlsx
**/momentum_strategy.xlsx
finished_files/001_equal_weight_S&P_500.ipynb
venv/
